.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/148688377?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/distance/they-do-not-understand-each-other/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Time of Others” Installation view<br>2015<br>Venue: The National Museum of Art, Osaka<br>Photo by Kazuo Fukunaga<br>Courtesy of The National Museum of Art, Osaka" do
        = image_tag 'projects/distance/they-do-not-understand-each-other/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/they-do-not-understand-each-other/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Time of Others” Installation view<br>2015<br>Venue: The National Museum of Art, Osaka<br>Photo by Kazuo Fukunaga<br>Courtesy of The National Museum of Art, Osaka" do
        = image_tag 'projects/distance/they-do-not-understand-each-other/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/they-do-not-understand-each-other/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Time of Others” Installation view<br>2015<br>Venue: The National Museum of Art, Osaka<br>Photo by Kazuo Fukunaga<br>Courtesy of The National Museum of Art, Osaka" do
        = image_tag 'projects/distance/they-do-not-understand-each-other/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/they-do-not-understand-each-other/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/they-do-not-understand-each-other/03.jpg', class: 'image-no-padding'
.row.mb-4
  .col
    .row.mb-3
    .row.mb-5
      .col-1.col-md-1
      .col-10.col-md-10
        言葉が通じない / They do not understand each other
        %br
        .description
        2014
        %br
        .description
        Wood
        .description
        Video documentation of a performance:: 05m 14s
        .description
        Lambda print: 35 x 70 cm (photographing by Keiichi Sakakura)
      .col-1.col-md-1
    .row.mb-5
      .col-1.col-md-1
      .col-10.col-md-10.description
        An island in between the Korean peninsula and the Japanese archipelago goes by two names: Daemado (Korean) and Tsushima (Japanese). There's no discussion over it, just two monologues running parallel: Nationalists in both countries claim its theirs, but never can understand each other's language.
        %br
        %br
        This work, in which a Korean man and I use the technique of the exquisite corpse (a surrealist technique where different people complete individual parts of a poem without knowing the other’s intentions and then assemble it together), is a satire of the sad state of affairs between the two countries: he only speaks Korean, which I can’t understand.
        %br
        %br
        Having been introduced through an employee at a café on the main island, we proceeded to a nearby uninhabited island on a two-person canoe. All we had in common was a signpost displaying a QR code and the goal of pounding it into the ground there. This was a device to avoid silence then and direct a signal for the viewer at the exhibition to scan.
        %br
        %br
        %hr
        %br
        朝鮮半島と日本列島の中間に浮かび、2つの名前で呼ばれる島---（韓国語）テマド／（日本語）対馬。韓国と日本のナショナリストたちはそれぞれの言語で「この島は我々のもの」と叫んでいる。それは対話（ダイアローグ）ではなく、国境と言語の壁によって隔たれた、それぞれの独白（モノローグ）のように見えてくる。
        %br
        %br
        この国境の島で一人の韓国人（彼は韓国語しか話せない。私はまったく韓国語を話せない）と「優美な屍骸／Exquisite Corpse」（複数人が互いの意図を知ることなしに詩の一部だけを制作し、それを組み合わせる、シュルレアリスムの共同制作手法。）を試みるという着想がこのプロジェクトの糸口であった。それは二国間の距離をナンセンスに皮肉り、風刺することを目指して。
        %br
        %br
        対馬島にあるカフェの店員の仲介によって僕らは島で落ち合い、そこから二人乗りのカヤックで無人島へ向かった。僕らが共有していたのは、QRコードが描かれたサインボードをその無人島に打ち立てるというゴールのみ。これは私たちを無言状態から救うための仕掛けであり、展覧会場の鑑賞者へ向けた信号でもある。
      .col-1.col-md-1
    .row.mb-5
