.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/grid-like-structure/black-snake', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake.jpg', class: 'image'
        %span Black Snake
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken.jpg', class: 'image'
        %span Break it Before it's Broken
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/grid-like-structure/iseya-calling', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling.jpg', class: 'image'
        %span ISEYA Calling
