.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/268568372?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/distance/valve/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Condition Report : The Mashup Syndicate” Installation view<br>2017<br>Venue: Gudang Sarinah Ekosistem, Jakarta, Indonesia" do
        = image_tag 'projects/distance/valve/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/valve/01.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/valve/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/valve/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/valve/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/valve/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/valve/03.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Valve
      %br
      .description
      2017
      %br
      .description
      Wooden structure, a birdcage, sandbags,
      .description
      Video documentation of a performance (filming by Edward Ken Fox, Hiroki Nishitake)
      .description
      Drawing on a paper, a map
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      When video documentation of a performance is repeatedly played in a museum, the transience that originally characterized the performance disappears. This performance was staged on the premise that its documentation would be looped.
      %br
      %br
      The setting is Jakarta, known for its congested streets and scarcity of traffic signals. Here, drivers are aided by the Polisi Cepek (100 Rupiah police officers): individuals who perform traffic control in exchange for tips. Working with them, I staged a performance wherein we pushed a large cart with a chicken perched on top across the street. When documentation of this performance is played repeatedly in the museum, we are seen endlessly crossing back and forth across this street, with the chicken doubly trapped in the cage and in the loop.
      %br
      %br
      Jakarta is currently investing large amounts of money in developing its transportation infrastructure, in the hope of easing congestion. This development will eventually render the roles played by the Polisi Cepek obsolete. Inside of the flow of time and the constantly changing city space, each individual lives within a limited amount of options, like the chicken trapped in its cage.
      %br
      %br
      %hr
      %br
      パフォーマンスの記録が美術館で再生される時、その再生は繰り返され、パフォーマンスが本来持つ一過性を永続性へと変化させる。ループ再生がもつこの特性を前提として、このパフォーマンスは実践された。
      %br
      %br
      舞台は、ジャカルタである。渋滞都市として知られるジャカルタの道路は、まず信号機が少ない。ドライバーたちの救いとなるのは、交差点に立ってチップをもらいながら交通整理をする「Polisi Cepek／100ルピアの警察」という人々の存在である。私は、彼らとともに、鶏を乗せた巨大な荷車を押し、渋滞した道路を横断するパフォーマンスを実践した。その記録映像が美術館で繰り返し再生される時、私たちはその道路を永遠に往復し続け、鶏は鳥かごからも、その再生のループからも逃げ場を失う。
      %br
      %br
      いまジャカルタは、都市整備のために、インフラ開発計画に巨額の資金を投入している。それはやがて、Polisi Cepekの路上の役割を過去のものとしてしまうだろう。時代の流れに伴う劇的な都市の変化に対して、私たち個人はこの鶏のように、限られた選択肢のなかに身を委ねざるを得ない。
    .col-1.col-md-1
  .row.mb-5
