.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/238023063?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/form-of-realities/guerrilla-waves/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam⇅United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/form-of-realities/guerrilla-waves/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/guerrilla-waves/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam⇅United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/form-of-realities/guerrilla-waves/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/guerrilla-waves/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/guerrilla-waves/02.jpg', class: 'image-no-padding'
.row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Guerrilla Waves
      %br
      .description
      2017
      %br
      .description
      Video documentation of an action: 5m 57s
      .description
      Lambda print (photographing by Yukari Hirano)
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      This project was staged in Vietnam. Vietnamese law prohibits the freedoms of expression and assembly as threats to the national interest. Any gathering in public space must be approved ahead of time by the People’s Committee. According to Vietnamese artists whom I met, the government, instead of outright refusing my proposal, simply ignored it in the hope that we would give up. 
      %br
      %br
      I collaborated with local artists to plan a guerrilla performance in an open space in front of the former palace. We waited until the guards in the area went on lunch break, then moved a boat into the space, raised it, toppled it, and then quickly left.
      %br
      %br
      At the end of the Vietnam War, boats were often used to flee the country. I imagined how this boat would move as an image to museums and galleries in other countries, thereby representing a form of migration to the viewer, while also communicating to them the realities facing Vietnamese artists today.
      %br
      %br
      There is a sizable spatio-temporal disconnect between the performance site and the installation space. Aware of this disconnect, I searched for a way to tie together an event in Vietnam with a larger story in the background.
      %br
      %br
      %hr
      %br
      　ベトナムの刑法と政令は、表現の自由による国益の損害行為を禁止し、公共空間における集合についても、人民委員会への事前申請を義務づけている。しかしながら、たとえ申請をしたとしてもそれは役所によって（公然と却下されるのではなく）ただ無視され、友人のベトナム人アーティスト曰く、やがて私達が諦めるのを待つというのが役所の常套手段らしい。
      %br
      %br
      　これはベトナム旧都・フエの旧王宮、その前の広場で地元のアーティストたちと計画したゲリラパフォーマンスである。私たちは、広場にいる監視員たちのお昼休みを狙って、一つのボートを運び込み、立ち上げ、ひっくり返し、足早に立ち去った。
      %br
      %br
      　ベトナム戦争終結の間際、ボートはこの国から逃げるために使われた。いま、このボートは「移動」を象徴する一つのイメージとして異国の美術館・ギャラリーへと逃げ出し、そこで表現・集合の自由を取り巻くこの国のアーティストたちの現状を明らかにすることはできるだろうか。
      %br
      %br
      　パフォーマンスとインスタレーションとの間には時間的、空間的な断絶がある。私たちはそこに想像力を注ぎ込まなくてはならない。彼の地での出来事とその背景の物語とを結びつけられれば、少しはこの断絶をブリッジできるかもしれない。
    .col-1.col-md-1
  .row.mb-5
