.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/182336749?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/distance/the-raft-of/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“End of Summer” Installation view<br>2016<br>Venue: Yale Union, Portland, USA" do
        = image_tag 'projects/distance/the-raft-of/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/the-raft-of/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/distance/the-raft-of/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/the-raft-of/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/distance/the-raft-of/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/the-raft-of/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/the-raft-of/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/the-raft-of/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/the-raft-of/04.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      The Raft of  _________
      %br
      .description
        2016
      %br
      .description
        Wooden pallets, plastic barrels, a tent
      .description
        Video documentation of a performance: 03m 39s (filming by Matt Jay)
      .description
        Lambda print: 44 x 90 cm (photographing by Yukari Hirano)
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      I created a makeshift raft out of four plastic barrels, four wooden pallets, and a two-person tent. I then placed the raft in the river and rowed as far as I could. I marked the spot where my energy gave out by raising a large sign imprinted with a QR code. The viewer at the museum can scan this QR code and see the current location of this raft: essentially, my SOS signal. Just looking at the work as displayed in the gallery will not suffice for locating the image. Furthermore, like the drift of the raft online, the location of this QR code is changed daily. Maybe the viewer at the exhibition finds this absurd: Indeed, I am no longer at the point indicated on the screen. Perhaps, however, someone else is stranded there instead. All the rafts that safely crossed from Libya to Europe between 2014 and 2016 were rescued while drifting on the open sea. Until they are rescued, they exist unverified, off the grid. We must go to meet them.
      %br
      %br
      %hr
      %br
      四つのプラスチック製の樽、四枚の木製パレット、二人用テントを組み合わせた即席の筏で、私は漂流を試みた。川を出発し、漕げるとこまで漕いで行き、力尽きた場所でQRコードを掲げた。その記録写真は美術館で展示され、その場で鑑賞者はQRコードをスキャンすることができる。このQRコードは筏の現在地を指し示す、いわば私から鑑賞者へ向けられた救難信号である。美術館に映し出されたイメージを眺めるだけでは、私たちがいる場所はわからない。
      %br
      %br
      QRコードが指し示す筏の位置情報は、毎日変動し、WEB上で漂流は継続されていく。展覧会場にいる鑑賞者は、それがデタラメなものだと思うかもしれない。確かに、私はそこにはいない。しかし、今まさにそこで遭難している人がいるかもしれない。2014年からの３年間でリビアからヨーロッパへ無事到達することのできたゴムボートは、全てその漂流の途中で救助されたものだった。救助されるまで、彼／女らの存在は確認できない。確認するためには、私たちはそこへ向かわなければならないのだ。
    .col-1.col-md-1
  .row.mb-5
