.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/238023019?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/songs-while-bound/woodstock-2017/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“DOMANI: The Art of Tomorrow” Installation view<br>2019<br>Venue: The National Art Center, Tokyo, Japan<br>Photo: OMOTE Nobutada<br>Courtesy of Agency for Cultural Affairs" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam ⇅ United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam ⇅ United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/woodstock-2017/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/woodstock-2017/09.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
    Woodstock 2017
      %br
      .description
      2017
      %br
      .description
      in collaboration with “Dentaru No Tsuba”
      .description
      Amplifier
      .description
      Video: 4m 07s
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
    The medium for the collective action in this performance is the US national anthem. As Benedict Anderson has made clear, national anthems experientially tie together the nation and its citizens. The national anthem can also satirize an era, depending on the context. Jimi Hendrix’s performance at the Woodstock music festival in 1969, where over 400,000 people gathered, attests to this reality.
      %br
      %br
    In this work, four white men perform the anthem while tied together by ropes. This constricted performance turns each performer into an obstacle for the others. In other words, there is an inverse relationship between the degree of ease of carrying out the performance (goal) and the number of performers involved. This performance had these four musicians attempt the anthem inside of this contradiction.
      %br
      %br
    Nowadays, we are always connected to someone via social media, and while being privy to their daily life, we are aware that we our lives are likewise being monitored in return. Although these platforms offer us a way of direct and instantaneous self-expression, they also cause us to increasingly regulate ourselves. This work satirizes this dilemma of connection and restriction, while presenting an image of us resisting in the process.
      %br
      %br
      %hr
      %br
    　この作品における集団行為の媒介物は国歌である。ベネディクト・アンダーソンに言わせるまでもなく、国歌は体験的に国民と国の関係を強く結びつける。また、国歌は、演奏される文脈によってその時代を風刺する---40万人以上が押し寄せた1969年のウッドストックでジミ・ヘンドリックスが演奏した合衆国国歌「星条旗」のように。
      %br
      %br      
    　いま、お互いにロープで縛りあわされた四人の白人男性が「星条旗」を演奏する。この「拘束の演奏」では演奏者同士はお互いに演奏の障壁となる。演奏者の数が多いほどその妨害の力は強まり、つまり演奏（ゴール）の達成難易度とメンバーの数との関係は反比例の線を描く。このパフォーマンスは、その矛盾した状況でどうにか協奏を試みるというものである。
      %br
      %br
    　いま私たちはSNSを介して常に誰かと繋がっており、誰かの日常を覗くと同時に、常に誰かに監視されていることをも意識している。このコミュニケーションツールは私たちにダイレクトで即時的な自己表現の機会を提供する一方で、同時に自己規制もさせ、私たちにしがらみも抱えさせている。この繋がりと拘束のジレンマこそををこの作品は風刺し、それに抵抗する私たちの姿を映し出す。
    .col-1.col-md-1
  .row.mb-5
