.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/288852544?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/00.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019<br>Photo: Kioku Keizo<br>Photo courtesy: Mori Art Museum, Tokyo" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/01.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/02.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/03.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019<br>Photo: Kioku Keizo<br>Photo courtesy: Mori Art Museum, Tokyo" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/04.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/05.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/06.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/07.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/08.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019<br>Photo: Kioku Keizo<br>Photo courtesy: Mori Art Museum, Tokyo" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/09.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Artists and the Disaster - Documentation in Progress,'<br>Contemporary Art Gallery, Art Tower Mito, Ibaraki, Japan<br>2012" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/10.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/10.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/11.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019<br>Photo: Kioku Keizo<br>Photo courtesy: Mori Art Museum, Tokyo" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/11.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/12.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/12.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/13.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Catastrophe and the Power of Art,' Mori Art Museum, Tokyo<br>2018-2019" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/13.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/14.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Koganecho Bazaar,'<br>Koganecho area, Yokohama, Japan<br>2011<br>Photo: Yasuyuki Kasagi" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/14.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/15.jpg', "data-fancybox" => "gallery", "data-caption" => "Installation view: 'Koganecho Bazaar,'<br>Koganecho area, Yokohama, Japan<br>2011<br>Photo: Yasuyuki Kasagi" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/15.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
     .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/16.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/16.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/17.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/17.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/18.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/18.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/19.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/19.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/20.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/20.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
  .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/21.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/21.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/22.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/22.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/23.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/23.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/the-lighthouses/24.jpg', "data-fancybox" => "gallery", "data-caption" => "Note by a structual engineer, Yoshiki Mondo<br>2011" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses/24.jpg', class: 'image-no-padding'
.row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      The Lighthouses - 11.3 PROJECT
      %br
      .description
      2011
      %br
      .description
      Wooden structure, wood
      .description
      Video documentation of an action: 06m 25s
      .description
      Lambda print (photographing by Kei Miyajima), printed documentation on wood, drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      In 2011, the Tohoku earthquake and tsunami struck Japan, and the reactors at a nuclear power plant in Fukushima suffered a meltdown as a result. In response, I staged a Pull and Raise project in Fukushima. I gathered wooden rubble from houses destroyed by the tsunami, and used this wood to construct a large structure. After finishing construction, over five hundred participants worked together to pull up this structure using ropes. This project served as the core for my 2018 installation at the Mori Art Museum.
      %br
      %br
      The installation was comprised of printed documentation and video footage displayed upon a wooden structure. The wood referred to the medium by which I originally created relationships with those affected by the disaster in 2011. As someone who was not directly affected, I had difficulty communicating with people I met while in the area. It was impossible for me to imagine the experience of losing family, friends, a job, or my home－words failed me while talking to them. This installation admits that a stark subjective divide exists between those who lived through the disaster and the unaffected, but proceeds nevertheless to question what can and cannot be shared with others.
      %br
      %br
      %hr
      %br
      　2011年、福島。津波に破壊され瓦礫となった家屋の木材を収集して巨大な構造物を制作し、およそ500人で引っ張り起こした。その一連のドキュメントと大量の木材を、2018年の森美術館でのグループ展「カタストロフと美術のちから」に持ち込んで、インスタレーションを構築した。
      %br
      %br      
      　プロジェクトを通じて瓦礫木材は、地元の人たち、被災した人たちと私との関係をつなぐ媒介だった。現場で出会った人々との対話、その数ある局面で非・被災者である私は言葉を詰まらせずにはいられなかった。家族や友人、仕事と家をいっぺんに失う体験した人の、その心境の細部をいったい誰が想像できるだろう。しかし、なんと声をかけて良いか分からなくとも、なんとか言葉を絞り出さなければならない時がある。危機を生き延びた人たちと私のような非・当事者の間にある、埋めがたい主観の溝を認めながらも、それでもやはり、私たちは何をシェアすることが出来るのか／出来ないのかを問いていく、それがこのインスタレーションを貫く物語である。
    .col-1.col-md-1
  .row.mb-5
