.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/152034418?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Echigo-Tsumaari Art Trienniale (Conquering Snow Dynamo Art Project)” Installation view<br>2009<br>Venue: Former Senda elementary school, Niigata, Japan<br>Photo: Naoya Sakaguchi" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Echigo-Tsumaari Art Trienniale (Conquering Snow Dynamo Art Project)” Installation view<br>2009<br>Venue: Former Senda elementary school, Niigata, Japan<br>Photo: Naoya Sakaguchi" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Echigo-Tsumaari Art Trienniale (Conquering Snow Dynamo Art Project)” Installation view<br>2009<br>Venue: Former Senda elementary school, Niigata, Japan<br>Photo: Naoya Sakaguchi" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/closing-a-birds-barn/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn/07.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Closing a Bird’s Barn
      %br
      .description
        2009
      %br
      .description
        A bird’s barn: 2.9 x 5 x 5.9 m, rope
      .description
        Video documentation of an action, 03m 59s (filming by Naoya Sakaguchi)
      .description
        Lambda print, drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      The Abandoned bird barn, located in Niigata Prefecture; one of the major granaries in Japan, was built 20 years ago and endured through that time, year after year of heavy snowfall.
      %br
      %br
      With the help of the Carpenter who had built the barn 20 year’s ago, we located and cut the solid foot anchors which had kept the barn on the ground. By doing so we retraced the memory imprint of the barn.
    .col-1.col-md-1
  .row.mb-5
