.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/looped-transience/gallerys-wall-in-dark-light/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Transplant” Installation view<br>2019<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/looped-transience/gallerys-wall-in-dark-light/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/gallerys-wall-in-dark-light/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Transplant” Installation view<br>2019<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/looped-transience/gallerys-wall-in-dark-light/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/gallerys-wall-in-dark-light/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Transplant” Installation view<br>2019<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/looped-transience/gallerys-wall-in-dark-light/02.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Gallery’s wall in Dark / Light
      %br
      .description
        2019
      %br
      .description
        in collaboration with Tengshing Kazama
      .description
        Burned piece of the gallery’s wall
      .description
        Video documentation of a performance: 06m 40s
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
