.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/form-of-realities/guerrilla-waves', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/form-of-realities/guerrilla-waves.jpg', class: 'image'
        %span Guerrila Waves
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/form-of-realities/abandon', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon.jpg', class: 'image'
        %span Abandon
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/form-of-realities/closing-a-birds-barn', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/form-of-realities/closing-a-birds-barn.jpg', class: 'image'
        %span Closing a Bird's Barn
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/form-of-realities/haul-the-whale-first', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/form-of-realities/haul-the-whale-first.jpg', class: 'image'
        %span Haul the Whale First
