.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/155289374?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/distance/can-you-hear-me/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/distance/can-you-hear-me/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/can-you-hear-me/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/distance/can-you-hear-me/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/can-you-hear-me/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/distance/can-you-hear-me/02.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Can You Hear Me?
      %br
      .description
        2015
      %br
      .description
        in collaboration with “Gigarunt”
      .description
        LCD screen displays, mini-computers, acrylic box, wood
      .description
        Video documentation of a performance: 03m 22s
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      Four cell-phone-sized LCD screens display synchronized video footage from five interlinked mini-computers. The footage was recorded in Malaysia, Seattle, Boston, and Mexico, respectively. The four screens display footage independently of each other because the performance was staged simultaneously in these four locations. We used the Messenger app to communicate with each other and throw stones, while the sun rose over the United States and Mexico, and night fell in Malaysia. In this day and age, anyone can create a performance like June Paik’s “Satellite Art.”
      %br
      %br
      The three artists who participated in this performance with me were all local artists who had helped in my previous projects. We constantly stay in touch through social media, and our network will only continue to grow.
      %br
      %br
      Here, this work’s text repurposes a religious scholar’s analysis of ISIL’s social media strategies: “The global art project ‘Gigarunt’ stages a coordinated stone throwing performance in the US, Mexico and Malaysia. The simplicity of this lone-wolf-style action incites artists all over the world to join the group’s mission. As a result of seemingly benign actions and the transnational network that these enable, a movement begins.
      %br
      %br
      Even if the group’s membership is ad hoc, social media allows them to throw rocks simultaneously on one side of the ocean and the other in solidarity. Gigarunt, which comes together through the spontaneous actions of artists, proliferates through fragmented online networks like an amoeba. As more and more artists participate, the number of monitors at the exhibition will increase, and the colors of the skies projected on these will form a smooth gradient.”
      %br
      %br
      %hr
      %br
      ネットワーク化された五台の超小型コンピューターによって、四つの映像が同期再生され、携帯電話サイズの四枚の液晶に映し出される。この映像たちはそれぞれ、マレーシア、シアトルとボストン、メキシコで撮影された。そして、この四ヶ所でのパフォーマンスは同時に行われた---よって、四つの液晶は独立させられ、映像の再生は同期させられ「なければならない」。アメリカとメキシコが朝を迎えマレーシアがまだ夜にふけるなか、通信アプリMessengerで会話をしながら、私たちは同時に石を投げた。ナム・ジュン・パイクのSatellite Artのような人工衛星を介したパフォーマンスの実践は、今日、もはや誰にでも可能である。
      %br
      %br
      この行為に参加した三人のアーティストたちは、私の過去のプロジェクトを助けてくれた現地アーティストである。SNSによって彼らとの交信は絶え間なく継続され、私たちのネットワークはこれからも成長していくはずだ。
      %br
      %br
      ここで、SNSを駆使するISILについての専門家の文章をこの作品のテキストに応用し、当てはめてみる。
      『グローバルアートプロジェクト「Gigarunt」はアメリカ、メキシコ、マレーシアでの投石パフォーマンスを同時多発的に実行した。この「ローン・ウルフ（一匹狼）」型の行為のシンプルさが諸外国にいるさらなるアーティストたちにGigaruntへの共鳴を促し、彼／女らが集まってくる現象を可能にする。いたってシンプルな行為だが、それが生み出すアーティスト同士の緩やかなネットワークは国境をまたぎ、結果として大きな運動が現れてくるだろう。
      %br
      %br
      たとえそれが場当たり的なメンバーであってもSNSさえあれば、太平洋の向こう側とこちら側で同時に投石することは可能である。あくまでアーティストたちの自発的な結集によって成立するGigaruntは、分散型のネットワーク、メンバーが移ろうアメーバのようなコレクティブなのだ。参加アーティストが増えれば増えるほど、展覧会場でパフォーマンスの映像が映し出されるモニターの数は増え、そこに出力される空の色は滑らかなグラデーションを帯びていく。』
    .col-1.col-md-1
  .row.mb-5
