.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/147203033?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/songs-while-bound/listen-to-the-same-wall/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/listen-to-the-same-wall/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/listen-to-the-same-wall/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/listen-to-the-same-wall/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/listen-to-the-same-wall/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Mexico City ⇄ Jakarta】” Installation view<br>2017<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/listen-to-the-same-wall/02.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Listen to the Same Wall
      %br
      .description
        2015
      %br
      .description
        Bricks
      .description
        Video documentation of a performance: 10m 08s
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      Three adjacent patios. One musician in each of them. The patios are separated by 10 foot walls that make hearing, let alone seeing one other difficult. Traditional Mexican folk music is often performed impromptu, making use of eye contact and vocal cues; in this project, these musicians try to make a chamber music piece while being deprived of such techniques.
      %br
      %br
      Each musician chose when to start, end, and what to perform, entirely from intuition. Only the viewer looking down at them from the installation can hear the piece they created together. At the same time, the viewer can’t feel the physical existence of the walls separating them.
      %br
      %br
      %hr
      %br
      隣接して並ぶ3軒のパティオ。そこで演奏する3人のミュージシャン。彼らを隔てる高さ10mの壁によって、彼らはお互いの姿を見ることができないばかりか、その演奏の音を聴くことも極めて難しい。演奏者の間で交わされるアイコンタクトや声の合図によってアドリブを効かせる、伝統的なメキシカンフォーク。そうしたテクニックを奪われた状態で、彼らはそれぞれの壁に向き合いながら重奏を試みた。
      %br
      %br
      演奏に入る／終わるタイミング、どう演奏するのか、それら全ては彼らの直感に委ねられた。その偶然の協奏を聞くことができるのは、このパティオを上から俯瞰するインスタレーションの鑑賞者だけである。しかし同時に鑑賞者には、彼らを隔てる壁の物質性を感じることはできない。
    .col-1.col-md-1
  .row.mb-5
