.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/151377042?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/03.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/09.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/10.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/10.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/11.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/11.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/12.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/12.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/13.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/13.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/14.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/14.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/15.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/15.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
     .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/16.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/16.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/17.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/17.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/18.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/18.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/19.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/19.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/20.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/20.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
  .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/21.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/21.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/22.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/22.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/23.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/23.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/24.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/24.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/25.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/25.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
     .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/26.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/26.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/27.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/27.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/28.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/28.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/29.jpg', "data-fancybox" => "gallery", "data-caption" => "“The Home, Hotels, Hideyoshi, Away” Installation view<br>2011<br>Venue: Art area B1, Osaka, Japan<br>Photo: Nobutada Omote" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/29.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/30.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/30.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
     .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/31.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/31.jpg', class: 'image-no-padding'
   .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/hhha/32.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha/32.jpg', class: 'image-no-padding'
.row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      H.H.H.A. (The Home,Hotels,Hideyoshi,Away) 01 / 02 / 03
      %br
      .description
        2011
      %br
      .description
        Mirror film-covered wooden structure, rope  
      .description
        Video documentation of an action: 01m 12s / 03m 00s / 01m 21s
      .description
        Lambda print (photographing by Naoya Sakaguchi, Shinryo Saeki), drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
