.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/238023100?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam⇅United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production " do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam⇅United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production "  do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/black-snake/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/black-snake/05.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Black Snake
      %br
      .description
        2017
      %br
      .description
        Video documentation of an action: 02m 59s (filming by Yukari Hirano)
      .description
        Lambda print
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      This work was created in 2017 at the Standing Rock Indian Reservation in North Dakota in the United States. The construction of the Dakota Access Oil Pipeline became a contentious issue during the presidential election the previous year. For the performance, I chose to create a grid-like structure that housed black plastic sheets normally used for agriculture. I wanted to represent the oil pipeline through an image that people living in the area often invoke: a black snake.
      %br
      %br
      %hr
      %br
      この作品は、2017年にアメリカ、ノースダコタ州スタンディングロック・インデ ィアン居留地で制作した。その前年にあたる、アメリカ合衆国大統領の選挙レース期間に、ここで石油パイプライン（Dakota Access Pipeline）建設を巡る衝突（NODAPL）が繰り広げられた。私はグリッド状の構築物を制作し、その内部に、普段は農業用に使用される黒いプラスチックシートを張り巡らした。これは、地元の隠語で石油パイプラインという意味をもつ、黒い蛇を反映する。
    .col-1.col-md-1
  .row.mb-5
