.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Daikanyama Art Street” Installation view<br>2012<br>Venue: Hillside Terrace, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Daikanyama Art Street” Installation view<br>2012<br>Venue: Hillside Terrace, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Daikanyama Art Street” Installation view<br>2012<br>Venue: Hillside Terrace, Tokyo, Japan<br>Photo: Kei Okano" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/03.jpg', "data-fancybox" => "gallery", "data-caption" => "“Daikanyama Art Street” Installation view<br>2012<br>Venue: Hillside Terrace, Tokyo, Japan<br>Photo: Kei Okano" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/synecdoches/turningman/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman/07.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Turningman
      %br
      .description
        2012
      %br
      .description
        Wooden structure, rope,
      .description
        Video documentation of an action
      .description
        Lambda print
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
