  .container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/241295824?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/songs-while-bound/underground-orchestra/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“(Drawing) Fractions of the Longest Distance【Vietnam ⇅ United States】” Installation view<br>2018<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kenji Morita<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/songs-while-bound/underground-orchestra/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/underground-orchestra/01.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/underground-orchestra/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/underground-orchestra/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/underground-orchestra/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/songs-while-bound/underground-orchestra/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/songs-while-bound/underground-orchestra/03.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Underground Orchestra
      %br
      .description
        2017
      %br
      .description
        Video: 5m 38s
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      Countless prairie dogs appear in this work. To capture their underground movements on camera would be almost impossibly difficult. Instead, I placed more than 100 bells in front of their tunnel openings and translated their movements into the sound of ringing bells. These bells let us know of their presence, even if we cannot see them.
      %br
      %br
      The first time I visited Standing Rock was four years ago. At the time, I did not see these prairie dogs tunneling through the quiet grassy plains that stretched into the distance－they were on the other side of the hills. Since then however, an oil pipeline was planned and protesters arrived en masse. The construction company’s bulldozers, thousands of protesters, and the mass media all congregated on the other side of the hills, filling television news and social media with images of human strife. No one noticed that, meanwhile, the prairie dogs were being driven out of their home, over the hills, and resettling here. I recorded their movements, imperceptible from above ground, and attempted to question the supposedly “natural” scenery in front of me.
      %br
      %br
      %hr
      %br
      　この作品に登場するのは、無数のプレイリードッグたちである。彼／女らの地下の動きをカメラで追うのは難しい。そこで、その巣穴の入り口に100個以上の鈴を仕掛け、彼／女らの動きを鈴の音に変換した。たとえ見ることができなくとも、鈴が彼／女らの存在を知らせてくれる。
      %br
      %br      
      　私がこの場所-スタンディングロック居留地-を初めて訪れたのは、四年前。当時ここにはプレイリードッグたちの姿はなく、平らな草原の牧歌的な風景が広がっていた（彼／女たちは小高い丘の反対側、川のほとりに住んでいた）。しかしその後、川を横切る石油パイプラインの建設が計画され、その抗議活動（NODAPL）が繰り広げられた。建設会社のブルドーザー、それと衝突する何千というデモ隊、マスメディアが押し寄せ、その闘争の様子はTVニュース、SNSによって全米に伝えられた。その一方で人知れずプレーリードッグたちは、住処を強制退去させられ、丘を超えてこの場所へと大移動し、草原をトンネルと穴ぼこだらけの風景に変えていた。地上を眺めているだけでは捉えることのできない彼らの「移動」を記録することで、自然を装う眼前の風景に疑惑を投げかけることを試みる。
    .col-1.col-md-1
  .row.mb-5
