.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/songs-while-bound/underground-orchestra', :class => "image-container" do
        = image_tag 'projects/songs-while-bound/underground-orchestra.jpg', class: 'image'
        %span Underground Orchestra
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/songs-while-bound/woodstock-2017', :class => "image-container" do
        = image_tag 'projects/songs-while-bound/woodstock-2017.jpg', class: 'image'
        %span Woodstock 2017
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/songs-while-bound/listen-to-the-same-wall', :class => "image-container" do
        = image_tag 'projects/songs-while-bound/listen-to-the-same-wall.jpg', class: 'image'
        %span Listen to the Same Wall
