.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/151337978?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Fukagawa, Future, Humanity” Installation view<br>2011<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Fukagawa, Future, Humanity” Installation view<br>2011<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Fukagawa, Future, Humanity” Installation view<br>2011<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/03.jpg', "data-fancybox" => "gallery", "data-caption" => "“Fukagawa, Future, Humanity” Installation view<br>2011<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ffh/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh/09.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      F.F.H. (Fukagawa, Future, Humanity)
      %br
      .description
        2011
      %br
      .description
        Mirror film-covered wooden structure
      .description
        Video documentation of an action: 08m 06s
      .description
        Lambda print, Drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
        I produced this work for a 2011 solo exhibition at Mujin-To Production. I carefully measured the space of the gallery and created a structure that was exactly the same size, placing it in a nearby park. Put simply, I copied and pasted the gallery space into the park. After the performance was completed, I moved the structure back into the gallery: it fits perfectly.
      %br
      %br
        The surface of the structure was covered with mirrors, so that it could reflect, and seamlessly merge with the landscape. When it began to slowly tilt during the performance, it reflected the sky, and revealed its form. In short, we pulled it out of the landscape.
      %br
      %br
        It was impossible for the viewer to see the structure’s exterior in the installation. Instead, they could enter inside of it (through several holes opened up in it) and see documentation of the performance. The footage of the performance captured both the inner and outer views of the structure, and through the exchange of these two views, the viewer could understand that they were inside of the structure reflected in the footage.
      %br
      %hr
      %br
        2011年、無人島プロダクションでの個展のために制作した作品である。私はギャラリー空間を隅々まで測量し、それと正確に同じサイズの構築物をギャラリー近所の公園（木場公園・東京）に設置した。--- つまりギャラリー空間自体をその公園にコピペした。
      %br
      %br
        この構築物の表面はミラー状に覆われ、周囲の風景を反射する。風景のなかに溶け込んだ構築物が、パフォーマンスによってゆっくりと動かされた時、その傾けられた構築物に空が映りこみ、ギャラリー空間のフォルムは明らかとなる。
      %br
      %br
        パフォーマンス後、構築物はギャラリーに持ち帰られ、展示空間内部にピッタリとはめ込まれた。そのインスタレーションを訪れた鑑賞者が、構築物全体のフォルムを眺めることはもはや不可能である。その代わり鑑賞者は構築物に空けられた数カ所の穴から、パフォーマンスの記録映像を覗き見ることができる。構築物の内側／外側からの二つの視点で撮影された映像を眺め、二つの視点を交換することで、鑑賞者は今まさに自分がその構築物の内部に居ることを、そこで発見する。
    .col-1.col-md-1
  .row.mb-5
