.container.contact
  .row.mb-3
  .row.mb-5
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      %form#ss-form{:_lpchecked => "1", :action => "https://docs.google.com/forms/d/1Mg51ePj_E0nwQERwBsINWmOYTnhU4ugH0uZNAvnf2o0/formResponse", :method => "POST", :onsubmit => "", :target => "_self"}
        %ol{:style => "padding-left: 0px;margin-left: 0px;"}
          .ss-form-question.errorbox-good
            .ss-item.ss-item-required.ss-text{:dir => "ltr"}
              .ss-form-entry
                %label.ss-q-item-label{"aria-hidden" => "true", :for => "entry_429886768"}
                  .ss-q-title
                    Name
                    %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
                  .ss-q-help.ss-secondary-text{:dir => "ltr"}
                %input#entry_429886768.ss-q-short.required{"aria-label" => "Your name  ", "aria-required" => "true", :dir => "auto", :name => "entry.429886768", :required => "", :title => "", :type => "text", :value => ""}/
                .error-message
          .ss-form-question.errorbox-good
            .ss-item.ss-item-required.ss-text{:dir => "ltr"}
              .ss-form-entry
                %label.ss-q-item-label{"aria-hidden" => "true", :for => "entry_544139567"}
                  .ss-q-title
                    Email
                    %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
                  .ss-q-help.ss-secondary-text{:dir => "ltr"}
                %input#entry_544139567.ss-q-short{"aria-label" => "Your email  Must be a valid email address", "aria-required" => "true", :dir => "auto", :name => "entry.544139567", :required => "", :title => "Must be a valid email address", :type => "email", :value => ""}/
          .ss-form-question.errorbox-good
            .ss-item.ss-item-required.ss-select{:dir => "ltr"}
              .ss-form-entry
                %label.ss-q-item-label{"aria-hidden" => "true", :for => "entry_505683996"}
                  .ss-q-title
                    Subject
                    %label{"aria-label" => "(Required field)", :for => "itemView.getDomIdToLabel()"}
                  .ss-q-help.ss-secondary-text{:dir => "ltr"}
                %select#entry_505683996.required{"aria-label" => "Subject  ", "aria-required" => "true", :name => "entry.505683996", :required => ""}
                  %option{:value => "Press / Interview"} Press / Interview
                  %option{:value => "Project / Exhibition"} Project / Exhibition
                  %option{:value => "Purchase"} Purchase
          .ss-form-question.errorbox-good
            .ss-item.ss-paragraph-text{:dir => "ltr"}
              .ss-form-entry
                %label.ss-q-item-label{"aria-hidden" => "true", :for => "entry_378371330"}
                  .ss-q-title
                    Message
                  .ss-q-help.ss-secondary-text{:dir => "ltr"}
                %textarea#entry_378371330.ss-q-long.valid{"aria-label" => "Message  ", :cols => "0", :dir => "auto", :name => "entry.378371330", :rows => "8", :style => "width: 75%"}
                .error-message
          %input{:name => "draftResponse", :type => "hidden", :value => "[,,\"6433230689562073407\"]"}/
          %input{:name => "pageHistory", :type => "hidden", :value => "0"}/
          %input{:name => "fromEmail", :type => "hidden", :value => "false"}/
          %input{:name => "fbzx", :type => "hidden", :value => "6433230689562073407"}/
          .ss-item.ss-navigate
            %input#ss-submit.btn.btn-submit{:name => "submit", :type => "submit", :value => "Submit"}/

    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      %h5
        Social Media
      %ul.icon-list
        %li
          = link_to 'https://www.facebook.com/pullandraise' do
            = image_tag 'contact/facebook.png', class: 'icon'
        %li
          = link_to 'https://twitter.com/TsubasaKATO' do
            = image_tag 'contact/twitter.png', class: 'icon'
        %li
          = link_to 'https://www.instagram.com/katotsubasa/' do
            = image_tag 'contact/instagram.png', class: 'icon'
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      %h5
        Subscribe to our mailing list
      #mc_embed_signup{:style => "width:80%;"}
        %form#mc-embedded-subscribe-form.validate{:_lpchecked => "1", :action => "//katoutsubasa.us14.list-manage.com/subscribe/post?u=491378b089610bb28c2afcec3&id=09a1361475", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :style => "text-align:center;", :target => "_blank"}
          #mc_embed_signup_scroll
            %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
              %input{:name => "b_491378b089610bb28c2afcec3_09a1361475", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
              %input#mc-embedded-subscribe.btn.btn-submit{:name => "subscribe", :style => "margin-top:20px;", :type => "submit", :value => "Subscribe"}/

    .col-1.col-md-1
