.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/grid-like-structure', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/grid-like-structure.jpg', class: 'image'
        %span Grid-like Structure
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/form-of-realities', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/form-of-realities.jpg', class: 'image'
        %span Form of Realities
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches.jpg', class: 'image'
        %span Synecdoches
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste.jpg', class: 'image'
        %span Copy and Paste
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/drawings-models', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/drawings-models.jpg', class: 'image'
        %span Drawings, Models
