.container.exhibitions
  .row.mb-5
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10.description
      %ul.exhibition-list
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/14.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI: The Art of Tomorrow
            .exhibition-description
              Texts by Yoko Hayashi
              %br
              Agency for Cultural Affairs Japan
              %br
              2019
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/13.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Catastrophe and the Power of Art
            .exhibition-description
              Texts by Kenichi Kondo, Futoshi Hoshino, J.J. Charlesworth, and Gerrit Jasper Schenk
              %br
              Mori Art Museum, Tokyo, Japan
              %br
              2018
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/12.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Reenacting History_Collective Actions and Everyday Gestures
            .exhibition-description
              Texts by BAE Myungji, SEO Hyun-Suk, PARK Joon-Sang, and CHO Soojin
              %br
              National Museum of Modern and Contemporary Art, Gwacheon, South Korea
              %br
              2017
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/11.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Condition Report : Sindikat Campursari.The Mashup Syndicate
            .exhibition-description
              Texts by Ade Darmawan, Hoo Fan Chon, Iida Shihoko, Le Thuan Uyen, Vittavin Leelavanachai, and Yoshizaki Kazuhiko
              %br
              The Japan Foundation Asia Center, Tokyo, Japan
              %br
              2017
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/10.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Uprisings
            .exhibition-description
              Texts by Nicole Brenez, Judith Butler, Georges Didi-Huberman, Marie-José Mondzain, Antonio Negri, and Jacques Rancière
              %br
              Jeu de Paume and Éditions Gallimard, Paris, France
              %br
              2016
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/09.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Spider’ s Thread – Spinning images of Japanese beauty
            .exhibition-description
              Texts by Daisaburo Okumoto, Masatoshi Tsuzuku, Kyoko Fujii, and Miyuki Naruse
              %br
              Toyota Municipal Museum of Art, Aichi, Japan
              %br
              2016
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/08.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Time of Others
            .exhibition-description
              Texts by Che Kyongfa, Azusa Hashimoto, Michelle Ho, and Reuben Keehan.
              %br
              Museum of Contemporary Art of Tokyo, The National Museum of Art Osaka, Singapore Art Museum, Queensland art Gallery | Gallery of Modern Art, and The Japan Foundation Asia Center
              %br
              2015
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/07.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Red Bull Music Academy Tokyo
            .exhibition-description
              Texts by Kengo Kuma, Kenji Kubota, and Gabin Ito
              %br
              Red Bull Music Academy Tokyo, Japan
              %br
              2014
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/06.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Now Japan; Exhibition with 37 contemporary Japanese artists
            .exhibition-description
              Texts by Nynke Besemer, Takashi Ishizaki, Jantine Kremer, Anne Masselink, Judith van Meeuwen, and Robbert Roos
              %br
              Kunsthal KAdE, Amersfoort, The Netherlands
              %br
              2013
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/05.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Artists and the Disaster -Documentation in Progress-
            .exhibition-description
              Texts by Kiyokazu Washida, Noi Sawaragi, Naoya Hatakeyama, and Yuu Takehisa
              %br
              Art Tower Mito, Ibaraki, Japan
              %br
              2012
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/03.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Koganecho Annual Report 2011
            .exhibition-description
              Texts by Shingo Yamano
              %br
              Koganecho Area Management Center, Yokohama, Japan
              %br
              2011
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/02.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              THE HOME, HOTELS, HIDEYOSHI, AWAY.
            .exhibition-description
              Texts by Chieko Kinoshita
              %br
              Art Area B1, Osaka, Japan
              %br
              2011
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/01.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Roppongi Crossing 2010: Can There Be Art?
            .exhibition-description
              Texts by Kenichi Kondo, Kenji Kubota, and Chieko Kinoshita.
              %br
              Mori Art Museum, Tokyo, Japan
              %br
              2010

    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10.description
      %h5
        Selected Bibliography
      %ul.exhibition-list
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://www.realtokyo.co.jp/en/exhibition/domani-the-art-of-tomorrow-national-art-center-tokyo-2019-1-23-3-3/" target="_blank")
              = image_tag 'exhibitions/bibliography/14.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://www.realtokyo.co.jp/en/exhibition/domani-the-art-of-tomorrow-national-art-center-tokyo-2019-1-23-3-3/" target="_blank")
                Real Tokyo  (online)
            .exhibition-description
              “Domani: The Art of Tomorrow” [review]
              %br
              Emily Wakeling
              %br
              2019
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://www.cinra.net/interview/201901-katotsubasa" target="_blank")
              = image_tag 'exhibitions/bibliography/13.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://www.cinra.net/interview/201901-katotsubasa" target="_blank")
                CINRA.NET (online)
            .exhibition-description
              "Tsubasa Kato pulls down a building using ropes" [interview]
              %br
              Taisuke Shimanuki
              %br
              2019
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/bibliography/12.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              The National Museum of Art Osaka News
            .exhibition-description
              "They do not understand each other” [essay]
              %br
              Tsubasa Kato
              %br
              2018 October
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://www.artforum.com/print/reviews/201804/tsubasa-kato-74713" target="_blank")
              = image_tag 'exhibitions/bibliography/11.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://www.artforum.com/print/reviews/201804/tsubasa-kato-74713" target="_blank")
                Artforum vol.56 no.8
            .exhibition-description
              "(Drawing) Fractions of the Longest Distance” [review]
              %br
              Ryan Holmberg
              %br
              2018 April
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/bibliography/09.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Bungakukai
            .exhibition-description
              “Memories simultaneously erupting across spatial and temporal distances” [essay]
              %br
              Tsubasa Kato
              %br
              2016 January
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://ocula.com/magazine/conversations/tsubasa-kato/" target="_blank")
              = image_tag 'exhibitions/bibliography/08.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://ocula.com/magazine/conversations/tsubasa-kato/" target="_blank")
                OCULA (online)
            .exhibition-description
              “A conversation with Tsubasa Kato” [interview]
              %br
              Laura Thomson
              %br
              2015
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/bibliography/07.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              ASSEMBLE Papers no.3
            .exhibition-description
              "Pull and Raise: Tsubasa Kato” [interview]
              %br
              Linda Dennis
              %br
              2015
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://www.youtube.com/watch?v=_rHO4xOpkdY" target="_blank")
              = image_tag 'exhibitions/bibliography/06.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://www.youtube.com/watch?v=_rHO4xOpkdY" target="_blank")
                Group Gendai
            .exhibition-description
              "Mitakuye Oyasin” [documentary film]
              %br
              Takaharu Eto
              %br
              2014
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="https://www.eyelinepublishing.com/eyeline-76/review/tsubasa-kato" target="_blank")
              = image_tag 'exhibitions/bibliography/04.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="https://www.eyelinepublishing.com/eyeline-76/review/tsubasa-kato" target="_blank")
                Eyeline (online)
            .exhibition-description
              “Fukagawa, Future, Humanity” [review]
              %br
              Emily Wakeling
              %br
              2011
        %li.exhibition-item
          .exhibition-thumbnail
            %a(href="http://www.nadiff-online.com/?pid=62635819" target="_blank")
              = image_tag 'exhibitions/bibliography/03.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              %a(href="http://www.nadiff-online.com/?pid=62635819" target="_blank")
                MUJIN-TO Production
            .exhibition-description
              “LOST HOME EMBANKMENT” [DVD]
              %br
              Tsubasa Kato
              %br
              2011

    .col-1.col-md-1
