.container
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10.description
      %ul.exhibition-list
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/01.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Roppongi Crossing 2010: Can There Be Art?
            .exhibition-description
              Texts by Kenichi Kondo, Kenji Kubota, and Chieko Kinoshita.
              %br
              Mori Art Museum, Tokyo, Japan
              %br
              2010
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/02.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/05.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/08.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan

    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10.description
      %h5
        Selected Biblography
      %ul.exhibition-list
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/01.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              Roppongi Crossing 2010: Can There Be Art?
            .exhibition-description
              Texts by Kenichi Kondo, Kenji Kubota, and Chieko Kinoshita.
              %br
              Mori Art Museum, Tokyo, Japan
              %br
              2010
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/02.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/05.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan
        %li.exhibition-item
          .exhibition-thumbnail
            = image_tag 'exhibitions/08.jpg', class: 'thumbnail'
          .exhibition-details
            .exhibition-title
              21st DOMANI
            .exhibition-description
              The Art of Tomorrow.
              %br
              Texts by Yoko Hayashi.
              %br
              Agency for Cultural Affairs Japan
    .col-1.col-md-1
