.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/148688469?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Still the Never World” Installation view<br>2013<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Still the Never World” Installation view<br>2013<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Still the Never World” Installation view<br>2013<br>Venue: MUJIN-TO Production, Tokyo, Japan<br>Photo: Kei MIYAJIMA<br>Courtesy of MUIN-TO Production" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/03.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Detroit)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/04.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (North Dakota)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/05.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (South Dakota)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/06.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Devils Tower)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/07.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (San Jose)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/08.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Salton Sea)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/09.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Grand Canyon)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/10.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Arizona)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/10.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/11.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Monument Valley)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/11.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/12.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Luna)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/12.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/13.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (El Paso)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/13.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/14.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (New Orleans)" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/14.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/form-of-realities/abandon/15.jpg', "data-fancybox" => "gallery", "data-caption" => "Abandon (Florida)<br>photographing by Yukari Hirano" do
        = image_tag 'projects/pull-and-raise/form-of-realities/abandon/15.jpg', class: 'image-no-padding'
.row.mb-4
  .col
    .row.mb-3
    .row.mb-5
      .col-1.col-md-1
      .col-10.col-md-10
        Abandon
        %br
        .description
          2013
        %br
        .description
          Video documentation of an action: 02m 58s (filming by Yukari Hirano)
        .description
          Lambda print
      .col-1.col-md-1
    .row.mb-5
      .col-1.col-md-1
      .col-10.col-md-10.description
        I traveled all around the U.S., starting from NY in January, 2013. Simply using a rope, I pulled abandoned houses and cars while going around places.
        %br
        %br
        Salton Sea, California, was a town developed as a touristy spot in the 60's, although, the whole town had gone bankrupt after a while and now remains as a ghost town. There were communities living in trailer houses, so I started to talk to them. This trailer still stays in its upside-down position with the rope attached right aside the Salton Sea.
      .col-1.col-md-1
    .row.mb-5
