  .container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/147203238?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“being MAPHILINDO” Installation view<br>2015<br>Venue: Sabah Art Gallery, Kota Kinabalu, Malaysia" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/01.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/10.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/10.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/11.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/break-it-before-its-broken/11.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Break it Before it's Broken
      %br
      .description
        2015
      %br
      .description
        Video documentation of an action: 04m 49s (filming by Taro Aoishi)
      .description
        Lambda print, 1200 x 675 mm (photographing by Yukari Hirano)
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      In 2015, I visited Sabah State, Malaysia, and produced a work with a community I met there. This community had been subject to eviction from its land by the government and was going to have to move soon. They had been living in Sabah as stateless refugees after fleeing the Moro conflict in Mindanao (the Philippines). I approached their leader and asked him if they wanted to destroy something before the government destroyed their homes.
      %br
      %br
      I purchased wood and corrugated iron at a store, traded it with them for parts of their houses and created a structure that resembled their houses. This became the object we destroyed in the performance. Their houses are built simply, ready to tear down at any moment: this speaks of how they had been forced to constantly move. After this performance, they took the parts I had traded to them and left to rebuild somewhere else. Conversely, I took the parts of their houses and used them to reconstruct the structure in the gallery.
      %br
      %br
      %hr
      %br
      私は2015年にマレーシアのサバ州（Sabah）を訪れ、そこで出会ったコミュニティとこの作品を制作した。そのコミュニティは行政から強制退去を命じられ、その執行日は差し迫っていた。フィリピンのミンダナオ紛争（The Moro conflict in Mindanao, the Philippines）から逃れてきた彼／女たちは、ここでは無国籍者として暮らしていた。私はそのコミュニティのリーダーに「政府がここを破壊しにやってくる前に、私たちで何かを壊してみないか？」と持ちかけた。
      %br
      %br
      私は、店でトタンや木材を調達し、彼らの家のパーツとそれらを交換しながら、彼らの家に似せた構築物を作った。---それはパフォーマンスで私たちに破壊される生贄となった。彼らの家の工法は、まるで移動の準備が常にできているかのように簡易的であった。それは彼らが、これまでも幾度となく移動を強いられながら、この地に辿り着いたことを物語っている。このパフォーマンスの後、彼らは私と交換した新しい材料を携えて新たな場所へと出発した。一方で私は、彼らの家のパーツをギャラリーに持ち込んで、壊された構築物をそこで再構築する。

    .col-1.col-md-1
  .row.mb-5
