.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/songs-while-bound', :class => "image-container" do
        = image_tag 'projects/songs-while-bound.jpg', class: 'image'
        %span Songs while Bound
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance', :class => "image-container" do
        = image_tag 'projects/distance.jpg', class: 'image'
        %span Maai-Distance
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience', :class => "image-container" do
        = image_tag 'projects/looped-transience.jpg', class: 'image'
        %span Looped Transience
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise', :class => "image-container" do
        = image_tag 'projects/pull-and-raise.jpg', class: 'image'
        %span Pull and Raise
