.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise', :class => "image-container" do
        = image_tag 'projects/pull-and-raise.jpg', class: 'image'
        %span Pull and Raise
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/song-while-bound', :class => "image-container" do
        = image_tag 'projects/song-while-bound.jpg', class: 'image'
        %span Song while Bound
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience', :class => "image-container" do
        = image_tag 'projects/looped-transience.jpg', class: 'image'
        %span Looped Transience
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/gulf-in-distances', :class => "image-container" do
        = image_tag 'projects/gulf-in-distances.jpg', class: 'image'
        %span Gulf in Distances
