.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg-01-02/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg-01-02/07.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      g.g.g. ( grand all, ground, gladiator ) 01 / 02
      %br
      .description
        2007
      %br
      .description
        Wooden structure, rope
      .description
        Video documentation of an action
      .description
        Drawing on a paper
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
