.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/absence', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/absence.jpg', class: 'image'
        %span Absence
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/tepee-rocket', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/tepee-rocket.jpg', class: 'image'
        %span Tepee Rocket, Boarding School
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/turningman', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/turningman.jpg', class: 'image'
        %span Turningman
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/the-lighthouses', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/the-lighthouses.jpg', class: 'image'
        %span The Lighthouses - 11.3 PROJECT
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/sss', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/sss.jpg', class: 'image'
        %span S.S.S.
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/t', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/t.jpg', class: 'image'
        %span T
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/rainbow-road', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/rainbow-road.jpg', class: 'image'
        %span RAINBOW ROAD
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/yen', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/yen.jpg', class: 'image'
        %span YEN
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/synecdoches/a', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/synecdoches/a.jpg', class: 'image'
        %span A
