.container
  .row.mb-4
    .col
    .col-5.col-md-5
      = link_to '/images/02.png', "data-fancybox" => "gallery", "data-caption" => "During my stay in the US, starting in 2015, I unexpectedly experienced the whole of the last presidential election. As is well known, this year saw the rise of a president who pledges to build" do
        = image_tag '02.png', class: 'image'
    .col
  .row.mb-5
    .col-4.col-sm-3.col-md-2
      = link_to '/images/03.png', "data-fancybox" => "gallery", "data-caption" => ", starting in 2015 I unexpectedly experienced last presidential well known, this year saw the to build" do
        = image_tag '03.png', class: 'image'
    .col-4.col-sm-3.col-md-2
      = link_to '/images/04.png', "data-fancybox" => "gallery", "data-caption" => "During my stay in the US, starting in 2015, I unexpectedly presidential election. As is rise of a president who pledges to build" do
        = image_tag '04.png', class: 'image'
    .col-4.col-sm-3.col-md-2
      = link_to '/images/00.png', "data-fancybox" => "gallery", "data-caption" => " last presidential election. As is well known, this year saw the rise of a president who pledges to build" do
        = image_tag '00.png', class: 'image'
    .col-4.col-sm-3.col-md-2
      = link_to '/images/03.png', "data-fancybox" => "gallery", "data-caption" => " the last presidential election. As is well known, this year saw the rise of a president who pledges to build" do
        = image_tag '03.png', class: 'image'
    .col-4.col-sm-3.col-md-2
      = link_to '/images/04.png', "data-fancybox" => "gallery", "data-caption" => "During my stay in the US, starting the last presidential election. As is well known, this year saw the rise of a president who pledges to build" do
        = image_tag '04.png', class: 'image'
    .col-4.col-sm-3.col-md-2
      = link_to '/images/00.png', "data-fancybox" => "gallery", "data-caption" => " in 2015, I unexpectedly experienced the election. As is well known, this year saw the rise of a president who pledges to build" do
        = image_tag '00.png', class: 'image'
  .row.mb-5
  .row.mb-5
    .col-2.col-sm-2.col-md-2
    .col-8.col-sm-8.col-md-8
      %div{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/148986128?title=0&byline=0&portrait=0", :style => "position:absolute;top:0;left:0;width:100%;height:100%;", :webkitallowfullscreen => ""}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-2.col-sm-2.col-md-2
  .row.mb-5
  .row.mb-5
    .col
    .col-md-auto
      = image_tag '03.png', class: 'image'
    .col
  .row.mb-3
  .row.mb-5
    .col
    .col-md-auto
      They do not understand each other
      %br
      2014
      %br
      Photo: Keiichi Sakakura
    .col
  .row.mb-5
    .col
    .col-12.col-sm-6.col-md-6
      On the flight back to the US from a project in Vietnam, I had an idea for my next work. It felt urgent ─ as soon as I got off of the plane and through customs, I made a call on Messenger while waiting for my baggage. A Vietnamese friend who had just seen me off in Hanoi after helping for the duration of my stay picked up. This contraction of distance between the site and the artist is a defining characteristic of contemporary art: even after a project’s finished, you can stay in touch with the people who assisted, no matter where you are, or what time it is. In this way, the relationship between the site a
    .col
  .row.mb-5
