.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/147203061?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Spider’s Thread – Spinning images of Japanese beauty” Installation view<br>2016<br>Venue: Toyota Municipal Museum of Art, Aichi, Japan<br>Photo Courtesy: Toyota Municipal Museum of Art" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“DOMANI: The Art of Tomorrow” Installation view<br>2019<br>Venue: The National Art Center, Tokyo, Japan<br>Photo: OMOTE Nobutada<br>Courtesy of Agency for Cultural Affairs" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/distance/pass-between-magnetic-tea-party/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party/06.jpg', class: 'image-no-padding'  
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Pass Between Magnetic Tea Party
      %br
      .description
      2015
      %br
      .description
      Tablecloths on wooden panels
      .description
      Video documentation of an action: 06m 02s
      .description
      Lambda print (photographing by Yukari Hirano), drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      I borrowed a tablecloth from neighbors of the studio where I was staying in Mexico City. I placed it over two roughly nine-meter-long tables in the street and held a tea party with around forty neighborhood residents. The performance consisted of opening and closing off this street to allow for the passage of cars: We repeatedly moved the tables apart when a car came and then placed them back together after it passed. Finally, we had one car drive onto and over these tables and leave tire marks on the tablecloth as a form of documentation.
    %br
    %br
      In this performance, we grappled with the restricted nature of public space (the road). This restricted nature provides us with communal rules to obey, but we subverted these and created this “painting” as a result. The tablecloth, sullied by the black smears of the tire marks, is a manifestation of our intention in the museum, and an imprint of our actions. In short, this is a form of action painting produced collectively. It narrates the events of the performance in the museum space. 
    %br
    %br
    %hr
    %br
      　このテーブルクロスは、私が滞在していたスタジオの近所の家々から譲り受けたものである。私は、路地の両端に長さ9mほどの二台のテーブルを設置し、およそ40人の近所の住人たちとティーパーティを開催した。そこで実践したパフォーマンスは、この二台のテーブルを路地の真ん中へ動かし、その通りを塞ぐというものである。車が来たらテーブルをどかし、通り過ぎたら再び路地を塞ぐという行為を複数回くり返した後、最終的に私たちは、一台の車をテーブルの上に乗せあげて、そのタイヤ痕をテーブルクロスに記録した。
    %br
    %br
      　私たちがそこで格闘したものは、道路という公共空間によって課される行為の制約である。それは、私たちの集団行為にルールを与え、それを攻略しこのペインティングを完成させるという意思を私たちに芽生えさせる。黒いペンキとタイヤによって汚されたテーブルクロスという私たちのアクションの残留物は、その意思の生成過程を美術館で表明する。これは路上で実践された集団によるアクションペインティングである。それは生起された出来事（events）はインスタレーション空間で物語る。
    .col-1.col-md-1
  .row.mb-5
