.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/14720323?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/00.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/01.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/leo/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo/09.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      LEO
      %br
      .description
        2010
      %br
      .description
        All the things in the artist and his brother's rooms, wooden structure, rope
      .description
        Video documentation of a performance (filming by Edward Ken Fox, Hiroki Nishitake)
      .description
        Drawing on a paper
    .col-1.col-md-1
  .row.mb-5
