.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/200671129?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“Roppongi Crossing 2010: Can There Be Art?” <br>2010<br>Installation view: Mori Art Museum, Tokyo, Japan<br>Photo: Kioku Keizou<br>Photo Courtesy: Mori Art Museum" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“Roppongi Crossing 2010: Can There Be Art?” <br>2010<br>Installation view: Mori Art Museum, Tokyo, Japan<br>Photo: Kioku Keizou<br>Photo Courtesy: Mori Art Museum" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/02.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/03.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/04.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/06.jpg', "data-fancybox" => "gallery", "data-caption" => "“Selected Works from Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/07.jpg', "data-fancybox" => "gallery", "data-caption" => "“Selected Works from Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/08.jpg', "data-fancybox" => "gallery", "data-caption" => "“Selected Works from Musashino Art University Degree Show” Installation view<br>2007<br>Venue: Musashino Art University, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/10.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/10.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/11.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/11.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/12.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/12.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/copy-and-paste/ggg/13.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg/13.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      G.G.G. [g.g.g. (grand all, ground, gladiator) 03 / 凹凸01 (Concave-Convex 01) / 凹凸02 (Concave-Convex 02) ]
      %br
      .description
        2007 / 2007 / 2008
      %br
      .description
        Wooden structure, rope,
      .description
        Video documentation of an action: 01m 40s / 02m 26s / 02m 13s (filming by Yukari Hirano)
      .description
        Drawing on a paper
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
