.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience/gallerys-wall-in-dark-light', :class => "image-container" do
        = image_tag 'projects/looped-transience/gallerys-wall-in-dark-light.jpg', class: 'image'
        %span Gallery’s Wall in Dark / Light
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience/i-xc-see-you', :class => "image-container" do
        = image_tag 'projects/looped-transience/i-xc-see-you.jpg', class: 'image'
        %span I XC See You
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience/identity', :class => "image-container" do
        = image_tag 'projects/looped-transience/identity.jpg', class: 'image'
        %span Identity
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience/tokyo-loop', :class => "image-container" do
        = image_tag 'projects/looped-transience/tokyo-loop.jpg', class: 'image'
        %span Tokyo Loop 
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/looped-transience/dreaming-in-progress', :class => "image-container" do
        = image_tag 'projects/looped-transience/dreaming-in-progress.jpg', class: 'image'
        %span Dreaming in Progress