.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance/valve', :class => "image-container" do
        = image_tag 'projects/distance/valve.jpg', class: 'image'
        %span Valve
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance/the-raft-of', :class => "image-container" do
        = image_tag 'projects/distance/the-raft-of.jpg', class: 'image'
        %span The Raft of  _________
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance/can-you-hear-me', :class => "image-container" do
        = image_tag 'projects/distance/can-you-hear-me.jpg', class: 'image'
        %span Can You Hear Me?
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance/pass-between-magnetic-tea-party', :class => "image-container" do
        = image_tag 'projects/distance/pass-between-magnetic-tea-party.jpg', class: 'image'
        %span Pass Between Magnetic Tea Party
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/distance/they-do-not-understand-each-other', :class => "image-container" do
        = image_tag 'projects/distance/they-do-not-understand-each-other.jpg', class: 'image'
        %span 言葉が通じない / They do not understand each other