.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/absence', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/absence.jpg', class: 'image'
        %span Absence
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/tepee-rocket', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/tepee-rocket.jpg', class: 'image'
        %span Tepee Rocket + Boarding School
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/turningman', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/turningman.jpg', class: 'image'
        %span Turningman
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/the-lighthouses', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/the-lighthouses.jpg', class: 'image'
        %span The Lighthouses - 11.3 PROJECT
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/sss', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/sss.jpg', class: 'image'
        %span S.S.S.
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/t', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/t.jpg', class: 'image'
        %span T
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/rainbow-road', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/rainbow-road.jpg', class: 'image'
        %span RAINBOW ROAD
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/yen', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/yen.jpg', class: 'image'
        %span YEN
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/monument-letter-as-medium/a', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/monument-letter-as-medium/a.jpg', class: 'image'
        %span A
