.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste/ffh', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ffh.jpg', class: 'image'
        %span F.F.H.
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste/hhha', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhha.jpg', class: 'image'
        %span H.H.H.A.
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste/leo', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/leo.jpg', class: 'image'
        %span LEO
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste/hhhh', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/hhhh.jpg', class: 'image'
        %span H.H.H.H.
.container
  .row
    .col-12.col-sm-6.col-md-6
      = link_to '/projects/pull-and-raise/copy-and-paste/ggg', :class => "image-container" do
        = image_tag 'projects/pull-and-raise/copy-and-paste/ggg.jpg', class: 'image'
        %span G.G.G.
