.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      .image{:style => "padding:56.25% 0 0 0;position:relative;"}
        %iframe{:frameborder => "0", :src => "https://player.vimeo.com/video/182371925?controls=1", :style => "position:absolute;top:0;left:0;width:100%;height:100%;"}
      %script{:src => "https://player.vimeo.com/api/player.js"}
    .col-1.col-md-1
  .row.mb-4
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan<br>Photo: Kei MIYAJIMA" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/03.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/04.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan<br>Photo: Kei MIYAJIMA" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/05.jpg', "data-fancybox" => "gallery", "data-caption" => "“TERATOTERA Festival” Installation view<br>2012<br>Venue:Inokashira Park, Tokyo, Japan<br>Photo: Kei MIYAJIMA" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/07.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/08.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/08.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/09.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/09.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/pull-and-raise/grid-like-structure/iseya-calling/10.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/pull-and-raise/grid-like-structure/iseya-calling/10.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      ISEYA Calling
      %br
      .description
        2012
      %br
      .description
        Video documentation of an action, 03m 51s
      .description
        Lambda print, 690 x 460 mm
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      The building of Iseya, famous Yakitori (Japanese chicken BBQ) restaurant, had been torn down for their renewal after 50 years (he new store opened in the following year).
      %br
      %br
      Using the woods collected from the old building, I had reconstruced the layout of old Iseya as precise as possible.
      %br
      %br
      It was a process of enclosing the memory, space and the woods of Iseya, with the help from old, hard-core Iseya fans giving instructions for positioning the pillars.
      %br
      %br
      %hr
      %br
      2012年、吉祥寺の老舗やきとり屋「いせや公園店」は改築のために、50年以上の歴史を持っていた店舗を解体した。（翌年に新店舗が完成している。）
      %br
      %br
      その解体された店舗から排出された大量の木材を、近くの公園（井の頭公園・東京）に運び込み、二階建てだった店舗の間取りを可能な限り正確に復元しようとする。
      %br
      %br
      店に長年通い続けたハードユーザーたちとともに「いせや」の記憶を遡りながら、柱を所定の位置に立てていく。
    .col-1.col-md-1
  .row.mb-5
