.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/looped-transience/dreaming-in-progress/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“NEO NEW WAVE” Installation view<br>2010<br>Venue : island ATRIUM, Kashiwa, Japan<br>Photo: Keizo Kioku" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/00.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-2
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/01.jpg', "data-fancybox" => "gallery", "data-caption" => "“NEO NEW WAVE” Installation view<br>2010<br>Venue : island ATRIUM, Kashiwa, Japan<br>Photo: Keizo Kioku" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/01.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/02.jpg', "data-fancybox" => "gallery", "data-caption" => "“NEO NEW WAVE” Installation view<br>2010<br>Venue : island ATRIUM, Kashiwa, Japan<br>Photo: Keizo Kioku" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/02.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/03.jpg', "data-fancybox" => "gallery", "data-caption" => "“NEO NEW WAVE” Installation view<br>2010<br>Venue : island ATRIUM, Kashiwa, Japan" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/03.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/04.jpg', "data-fancybox" => "gallery", "data-caption" => "“NEO NEW WAVE” Installation view<br>2010<br>Venue : island ATRIUM, Kashiwa, Japan" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/04.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/05.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/05.jpg', class: 'image-no-padding'
    .col-1.col-md-1
  .row.mb-4
    .col-1.col-md-1
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/06.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/06.jpg', class: 'image-no-padding'
    .col-2.col-sm-2.col-md-2
      = link_to '/images/projects/looped-transience/dreaming-in-progress/07.jpg', "data-fancybox" => "gallery" do
        = image_tag 'projects/looped-transience/dreaming-in-progress/07.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Dreaming in Progress
      %br
      .description
        2010
      %br
      .description
        Kotatsu-a Japanese electric foot-warmer table, Futon-a Japanese traditional style of bedding, wooden structure, a boxing-sandbag, a metallic barrel, steel pipes, fencea, rope
      .description
        Video documentation of a performance
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
